.lead__caption {
    color: #fff;
    width: 100%;
    font-family: 'Inter Regular';
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
	text-transform: uppercase;
    margin-top: 8px;
    
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .lead__caption  {
        margin-left: calc(24px - (100vw - 768px)/10.5);
    }    
}

@media screen and (max-width: 768px){
    .lead__caption  {
        margin-left: calc(32px - (100vw - 320px)/56);
    }    
}
