.places__place__website__url-heading{
    color: white;
    font-family: 'nter Regular';
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
}
