.places__place__paragraph{
    color: white;
    font-family: 'Inter Regular';
    line-height: 1.63;
    text-align: left;
    font-size: 18px;
    margin: 0;
}

@media screen and (max-width: 1024px){
    .places__place__paragraph{
        font-size: 16px;
    }
}